<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/web1"/>
    <link rel="stylesheet" href="/web1/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/web1/app.css" />
    <link rel="stylesheet" href="/web1/AppOne.styles.css" />
    <link rel="icon" type="image/png" href="/web1/favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="/web1/_framework/blazor.web.js"></script>
</body>

</html>
